* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  @include font-size-change("home");
  
  display: grid;
  grid-template-rows: auto 1fr auto; 
  height: 100vh; 
} 

.contenedor {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #f00  ;
}

.comunsec {
  padding: 1.5rem;
  height: 100%;
  scroll-snap-align: start; 
}

.presentation {
  background-color: #f5deb3;
}

.ingredients {
  background-color: #7fffd4;
}

.recipe {
  background-color: #5f9ea0;
}