<footer>
    <ul class="legales">
        <li>
            <a href="#">Política de privacidad</a>
        </li>
        <li>
            <a href="#">Política de cookies</a>
        </li>
        <li>
            <a href="#">Aviso legal</a>
        </li>
    </ul>
    <ul class="redes">
       <li>
            <a href="#" title="Instagram">
                <i class="fa-brands fa-instagram fa-lg"></i>
            </a>
        </li>
        <li>
            <a href="#" title="Facebook">
                <i class="fa-brands fa-facebook fa-lg"></i>
            </a>
        </li>
        <li>
            <a href="#" title="X">
                <i class="fa-brands fa-x-twitter fa-lg"></i>
            </a>
        </li>
    </ul>
</footer>
